<ion-header>
  <ion-toolbar>
    <ion-title>courses</ion-title>
    <!-- BUTTON BACK -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="ion-margin">Liste de courses</h2>
  <ion-list inset="true">
    <ion-item *ngFor="let cours of courses">
      <!-- ### CARD ### -->
      <!-- <ion-card> -->
      <!-- HEADER -->
      <!-- <ion-card-header>
            <ion-card-subtitle>{{cours.nom}}</ion-card-subtitle>
            <ion-card-title>sub-title</ion-card-title>
          </ion-card-header> -->
      <!-- CONTENT -->
      <!-- <ion-card-content>
            Nombre d'étudiants : {{cours.nb}}
          </ion-card-content>
        </ion-card> -->
      <!-- </ion-card> -->
      <ion-label>
        <ion-icon name="invert-mode-outline" slot="end">popover</ion-icon>
        <h4>{{cours.nom}}</h4>
        <p>Nombre d'étudiants : {{cours.nb}}</p>
        <p>
          <a routerLink="/home">Retour Accueil</a>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
